@{
    ViewData["Title"] = "Blog";
}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Template</title>
    <link href="~/css/Home.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        h2 {
            text-align: center;
            font-size: 70px;
            color: azure;
            font-family: 'Showcard Gothic';
        }
    </style>
</head>
<body>

    <h2>Welcome to my Blog!</h2>

    <p class="sub">(A compilation of what I like about specific topics)</p>

    <div class="container">
        <!-- 1st Row -->
        <div class="row">
            <!-- mb-4 space inbetween -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="~/img/Dota2/dota2pic.png" alt="Card image cap" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Dota 2</h5>
                        <p class="card-text"> Intense MOBA battles with unique heroes, aiming to destroy the enemy's ancient. Developed by Valve, it's a top-tier esports game known for its deep strategy and skillful gameplay.</p>
                        <a class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Blog", new { year = 2024, month = 03, slug = "Dota 2" })'">Click here! to see more</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="~/img/lol/lolpic.png" alt="Card image cap" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">League of Legends</h5>
                        <p class="card-text">Dynamic MOBA clashes with diverse champions, aiming to topple the opposing nexus. Developed by Riot Games, it's a premier esports title celebrated for strategic depth and fast-paced action.</p>
                        <a class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Blog", new { year = 2024, month = 03, slug = "League of Legends" })'">Click here! to see more</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="~/img/valorant/valpic.png" alt="Card image cap" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Valorant</h5>
                        <p class="card-text">A tactical first-person shooter by Riot Games, featuring unique characters with special abilities. Teams compete in high-stakes rounds, blending precise gunplay and strategic powers in a quest for victory.</p>
                        <a class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Blog", new { year = 2024, month = 03, slug = "Valorant" })'">Click here! to see more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- 2nd Row -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="~/img/animals/animalpic.png" alt="Card image cap" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Animals</h5>
                        <p class="card-text">Animals, diverse and multicellular, inhabit every corner of our planet. From tiny insects to massive mammals, they exhibit unique adaptations for survival. Playing essential roles in ecosystems, animals contribute to biodiversity, showcasing a fascinating array of sizes, shapes, and behaviors.</p>
                        <a class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Blog", new { year = 2024, month = 03, slug = "Animals" })'">Click here! to see more</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="~/img/anime/animepic.png" alt="Card image cap" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Anime</h5>
                        <p class="card-text">A dynamic form of animated entertainment originating from Japan, captivates audiences worldwide. Known for its vibrant art styles, compelling storytelling, and diverse genres, anime spans from fantastical adventures to slice-of-life narratives. The medium has garnered a dedicated global fan base, creating a unique cultural impact.</p>
                        <a class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Blog", new { year = 2024, month = 03, slug = "Anime" })'">Click here! to see more</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="~/img/manga/mangapic.png" alt="Card image cap" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Manga</h5>
                        <p class="card-text">Comic books or graphic novels, is a rich and diverse storytelling medium. With its distinctive black-and-white art, manga covers a broad spectrum of genres, from action and romance to fantasy and science fiction. Embraced globally, manga offers immersive narratives that often serve as source material for popular anime adaptations.</p>
                        <a class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Blog", new { year = 2024, month = 03, slug = "Manga" })'">Click here! to see more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function toggleCardSize(card) {
            card.classList.toggle('card-expanded');
        }
    </script>

</body>
</html>


