<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quiz 1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Quiz_1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 bg-light-transparent">
            <div class="container-fluid">
                <a class="navbar-brand text-uppercase fs-2 title">Welcome</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Topics
                            </a>

                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" onclick="location.href='@Url.Action("Index", "Blog", new { year = 2024, month = 03, slug = "Animals" })'">Animals</a></li>
                                <li><a class="dropdown-item" onclick="location.href='@Url.Action("Index", "Blog", new { year = 2024, month = 03, slug = "Anime" })'">Anime</a></li>
                                <li><a class="dropdown-item" onclick="location.href='@Url.Action("Index", "Blog", new { year = 2024, month = 03, slug = "Dota 2" })'">Dota 2</a></li>
                                <li><a class="dropdown-item" onclick="location.href='@Url.Action("Index", "Blog", new { year = 2024, month = 03, slug = "League of Legends" })'">League of Legend</a></li>
                                <li><a class="dropdown-item" onclick="location.href='@Url.Action("Index", "Blog", new { year = 2024, month = 03, slug = "Manga" })'">Manga</a></li>
                                <li><a class="dropdown-item" onclick="location.href='@Url.Action("Index", "Blog", new { year = 2024, month = 03, slug = "Valorant" })'">Valorant</a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-light-transparent">
        <div class="container">
            <a href="https://www.facebook.com/Its.Me.Angelo1918" class="end">
                <img src="~/img/facebook.png" witdt="40" height="40" />
            </a>
            <a href="https://www.youtube.com/shorts/SXHMnicI6Pg" class="end">
                <img src="~/img/linked.png" witdt="40" height="40" />
            </a>
            <a href="https://www.youtube.com/shorts/f30XVlHYQDo" class="end">
                <img src="~/img/instagram.png" witdt="40" height="40" />
            </a>
            <a href="https://www.youtube.com/watch?v=e0baFUEFNRs" class="end">
                <img src="~/img/reddit.png" witdt="40" height="40" />
            </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
